<% provide(:title, 'Home') %>
<h1>Jewels Nocera</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices gravida risus quis varius. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc sem orci, malesuada vitae dapibus at, scelerisque in nulla. Sed tincidunt mauris vel tortor feugiat eget aliquam arcu luctus. Donec laoreet pretium consectetur. Maecenas dolor dui, suscipit ac sollicitudin ut, auctor in neque. Suspendisse mi est, malesuada in feugiat vitae, porttitor sit amet sapien. Integer id est vel lorem laoreet tristique eu in augue. Nunc id tincidunt nisi. Suspendisse id tortor sit amet lorem mattis auctor quis at nisl. Sed convallis erat at eros tincidunt vitae commodo massa commodo. Vivamus rutrum pharetra orci, consectetur facilisis mauris vehicula sollicitudin. Donec sit amet rhoncus urna. Pellentesque vel tortor sed nibh aliquam ultricies. In non mi nisl, sit amet volutpat enim. Nulla ac gravida mi.
	</p>