<% provide(:title, 'Mixed Media') %>
<h1>Mixed Media</h1>
	<body>
		<p>	
			<div id="images_hz">
	 		<img data-src="holder.js/180x180/text:Lorem ipsum">
	 		<img data-src="holder.js/180x180/text:Lorem ipsum">
	 		<img data-src="holder.js/180x180/text:Lorem ipsum">
	 		<img data-src="holder.js/180x180/text:Lorem ipsum">
	 		<img data-src="holder.js/180x180/text:Lorem ipsum">
	 		</div>
		</p>
	</body>