<nav>
	<div class="tabbable tabs-left"> 
  	<ul class="nav nav-tabs">
    	<li class="active"><a href= "root_path" data-toggle="tab">Home</a></li>
    	<li><a href= "about_path" data-toggle="tab">About</a></li>
    	<li><a href= "work_path" data-toggle="tab">Work</a></li>
    	<li><a href= "contact_path" data-toggle="tab">Contact</a></li>
  	</ul>

    <div class="tab-content">
      <div class="tab-pane active" id="Home"></div>
      <div class="tab-pane" id="About"></div>
      <div class="tab-pane" id="Work"></div>
		  <div class="tab-pane" id="Contact"></div>
    </div>
	</div>
</nav>